.DS_Store
.vscode/settings.json
.env
# Node.js
node_modules/
.env
npm-debug.log*
.grunt
.idea
.vscode
_resumes
_jobs

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
.venv/